# Ignore Python cache and virtual environments
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
venv/
.env

# Ignore macOS system files
.DS_Store

# Ignore log files
*.log

# Ignore IDE files
.vscode/
.idea/
*.sublime-workspace
.cursorignore

# Ignore compiled binaries
*.out
*.o
*.a
*.so


# Ignore other system-specific or sensitive files
*.swp
*.bak

# Ignore the 'data' and 'redacted_data' directories
data/
redacted_data/